{% extends 'catalog/base.html' %}

{% block content %}
        <div class="col-12">
        {% for product in products %}
        <div class="card mb-2">
            <div class="card-header">{{ product.name }}</div>
            <div class="card-body">Описание - {{ product.description }}</div>
            <div class="card-footer"></div>
        </div>
            {% endfor %}
        <a href="{% url 'catalog:home' %}"
           class="btn btn-lg btn-block btn-outline-primary">Вернуться к продуктам</a>
    </div>
{% endblock %}