{% extends 'catalog/base.html' %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Бобр</h1>
        <p class="lead">Бобр - это тест зоомагазин для платформы SkyPro!</p>
    </div>
    {% for object in product_list %}
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ object.price_per_piece }} руб.</h1>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>{{ object.description|slice:':100' }}</li>
                            </ul>
                            <a href="{% url 'catalog:product_details' object.pk %}"
                               class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}