{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}
    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% for object in product_list %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ object }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Категория - {{ object.category }}</strong><br>
                        Описание - {{ object.description }}<br>
                        Цена - {{ object.price_per_piece }}<br>
                        <img src='{{ object|media_path }}'>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}