{% extends 'catalog/base.html' %}

{% block content %}
        <div class="col-12">
        <div class="card">
            {% if object %}
                <div class="card-header"><h1>Редактировать версию</h1></div>
            {% else %}
                <div class="card-header"><h1>Создать версию</h1></div>
            {% endif %}
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                        <button type="submit" class="btn btn-success">Редактировать</button>
                    {% else %}
                        <button type="submit" class="btn btn-success">Создать</button>
                    {% endif %}
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
{% endblock %}